{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native", "prettier", "jest"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-body-style": "warn"
  },
  "globals": {
    "document": true,
    "shallow": true,
    "renderer": true,
    "mount": true
  }
}
